<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equinox and Solstice ICRS Coordinates Calculator</title>
    <!-- Use url_for to generate the correct URL for the static JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <main style="text-align: center">
        <h1>Equinox & Solstice Coordinates Calculator</h1>
        <h2>International Celestial Reference System (ICRS)</h2>
        <hr><br>
        <form id="queryForm" onsubmit="handleFormSubmit(event)">
            <span>(UT1)&nbsp;&nbsp;</span>

            <label for="year">Year:</label>
            <input type="number" id="year" name="year" min="-5000" max="5000">

            <label for="month">Month:</label>
            <select id="month" name="month">
                <option value="" hidden disabled selected></option>
            </select>

            <label for="day">Day:</label>
            <input type="number" id="day" name="day" min="1" max="31">

            <label for="hour">Hour:</label>
            <input type="number" id="hour" name="hour" min="0" max="23">

            <!-- <label for="minute">Minute:</label>
            <input type="number" id="minute" name="minute" min="0" max="59"> -->

            <!-- <label for="second">Second:</label>
            <input type="number" id="second" name="second" min="0" max="59"> -->

            <button type="submit">Calculate</button>
            <button type="button" onclick="clearForm()">Clear</button>
        </form>

        <div id="error" style="color:red;">
            <!-- Error messages will be injected here by JavaScript -->
        </div>

        <div id="results">
            <!-- Results will be injected here by JavaScript -->
        </div>
    </main>
</body>
</html>
